* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 28, 28);
    /* background-color: rgb(142, 208, 228); */
}

video {
    border-radius: 10px;
}

.hide {
    opacity: 0;
}

.active {
    opacity: 1;
}

.button {
    display: inline-block;
    border-radius: 6px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 18px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    padding-right: 25px;
    
}

button:active span {
    padding-top: 10px;
}
  
.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:hover {
    filter: brightness(80%);
    filter: opacity(80%);
}